.animeLeft {
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft 1.5s forwards;
  }
  
  @keyframes animeLeft {
    to {
      opacity: initial;
      transform: initial;
    }
  }
  